<!doctype html>
<html lang="en">
  <head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    {{! Styles }}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset '/styles/prism.css'}}">
    <link rel="stylesheet" type="text/css" href="{{asset '/styles/crisp.css'}}">

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{{block "head"}}}

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header id="header" {{#if @site.cover_image}}style="background-image: url('{{@site.cover_image}}')"{{/if}}>
      {{#if @site.logo}}<a id="logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>{{/if}}
      <h1><a href="{{@site.url}}">{{@site.title}}</a></h1>
      <p>{{@site.description}}</p>
      {{> follow}}
      {{navigation}}
    </header>

    <main id="content">
      {{{body}}}
    </main>

    <footer id="footer">
      <section id="footer-message">&copy; {{date format='YYYY'}}. <a href="{{@site.url}}/credits">Credits.</a></section>
    </footer>
    {{ghost_foot}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144209797-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144209797-1');
    </script>

    <script type="text/javascript" src="{{asset '/js/prism.js'}}">
    <script type="text/javascript">Prism.highlightAll();</script>
  </body>
</html>
